.imgContainer{
    width: 100%;
}


.pokemonImg{
    width: 70%;
    height: 200px;
    margin: 0 15%;
    
}

.abilitiesConainer, .evolutionContainer{
    margin: 30px 15px;
    text-align: center;
}

.abilitiesConainer h4, .evolutionContainer h4{
    font-size: 20px;
    font-weight: bold;
}

.abilityItem{
    border: 1px double var(--blueColor);
    border-radius: 20px;
    text-align: center;
    padding: 5px 10px;
    margin: 10px;
}

.abilityItem p{
    font-size: 12px;
}

.abilityItem h5{
    font-weight: bold;
    font-size: 16px;
    color: var(--blueColor);    
}

.buttonsContainer{
    display: flex;
    justify-content: center;
}

.buttonsContainer button{
    margin: 10px;
    width: 90px;
}