
<app-list-item [pokemon]="pokemonCurrent"></app-list-item>

<div class="imgContainer">
    <img class="pokemonImg" [src]="pokemonCurrent.image" alt="">
</div>

<div class="abilitiesConainer">
    <h4>Abilities</h4>
    <div class="abilityItem" *ngFor="let ability of pokemonCurrent.abilities">
        <h5>{{ability.name}}</h5>
        <p>{{ability.description}}</p>
    </div>
</div>

<div class="evolutionContainer"  [hidden]="hiddenEvolution">
    <h4>Evolution</h4>
    <app-list-item [pokemon]="evoPokemon"></app-list-item>
</div>
<div class="evolutionContainer"  [hidden]="!hiddenEvolution">
    <h4>No Evolution</h4>
</div>


<div class="buttonsContainer">
    <button pButton type="button" label="Back" class="p-button-raised p-button-rounded" [routerLink]="['/user-pokemons', currentUserId]"></button>
    <button pButton type="button" label="Edit" class="p-button-raised p-button-rounded" routerLink="/form" ></button>
</div>