
<app-list-item [pokemon]="pokemonCurrent"></app-list-item>

<div class="imgContainer">
    <img class="pokemonImg" src="../../../../assets/images/pikachu.jpg" alt="">
</div>

<div class="m-2">
    <p-card header="Abilities">
        <div class="abilityItem" *ngFor="let ability of pokemonCurrent.abilities">
            <h4>{{ability.name}}</h4>
            <p>{{ability.description}}</p>
        </div>
    </p-card>
</div>

<div class="buttonsContainer">
    <button pButton type="button" label="Back" class="p-button-raised p-button-rounded" routerLink=""></button>
    <button pButton type="button" label="Edit" class="p-button-raised p-button-rounded" routerLink="/form" ></button>
</div>