<form class="pokemonForm">

    <!--  --------  NAME INPUT ---------  -->
    <!-- <span class="p-float-label">
        <input [(ngModel)]="nameValue" name="nameValue" id="float-input" class="inputLarge" type="text" pInputText>
        <label for="float-input">Name</label>
    </span> -->

    <!--  <h5>Help Text</h5> -->
    <div class="field">
        <label for="nameValue" class="d-block">Name</label>
        <input class="inputLarge" id="nameValue" type="text" aria-describedby="nameValue-help" pInputText
            [(ngModel)]="nameValue" name="nameValue" />
            <small id="username2-help" class="p-error block" [hidden]="nameValue || primerIntento">Username is not available.</small>
        <!-- <small id="nameValue-help" class="block">Enter your username to reset your password.</small> -->
    </div>

    <div class="d-flex justify-content-center my-4">

        
         <!--  --------  TYPE INPUT ---------  -->
    <!-- <span class="p-float-label">
            <input [(ngModel)]="typeValue" name="typeValue" id="float-input" class="inputMedium" type="text" pInputText>
            <label for="float-input">Type</label>
        </span> -->
        <div class="field">
            <label for="typeValue" class="d-block">Type</label>
            <input class="inputMedium" id="typeValue" type="text" aria-describedby="typeValue-help" pInputText
                [(ngModel)]="typeValue" name="typeValue" />
            <small id="username2-help" class="p-error block" [hidden]="typeValue || primerIntento">Username is not available.</small>

        </div>

        
<!--  --------  LEVEL INPUT ---------  -->
        <!--  <span class="p-float-label">
            <input [(ngModel)]="lvlValue" name="lvlValue" id="float-input" class="inputMedium " type="number"
                pInputText>
            <label for="float-input">Level</label>
        </span> -->
        <div class="field">
            <label for="lvlValue" class="d-block">Level</label>
            <input class="inputMedium" id="lvlValue" type="number" min="1" aria-describedby="lvlValue-help" pInputText
                [(ngModel)]="lvlValue" name="lvlValue" />
            <small id="username2-help" class="p-error block" [hidden]="lvlValue > 0">Username is not available.</small>
        </div>

    </div>

<!--  --------  IMAGE INPUT ---------  -->
            <!-- <span class="p-float-label my-3">
                    <input [(ngModel)]="imgValue" name="imgValue" id="float-input" required="true" class="inputLarge" type="text"
                    pInputText>
                    <label for="float-input">Image url</label>
                </span> -->
   
    <div class="field">
        <label for="imgValue" class="d-block">Image url</label>
        <input class="inputLarge" id="imgValue" type="text" aria-describedby="imgValue-help" pInputText
            [(ngModel)]="imgValue" name="imgValue" />
        <!-- <small id="imgValue-help" class="block">Enter your username to reset your password.</small> -->
        <small id="username2-help" class="p-error block" [hidden]="imgValue || primerIntento">Username is not available.</small>
    </div>


    <!--  --------  ABILITIES CHECKBOXS ---------  -->
    <p-fieldset legend="Select Abilities" [collapsed]="true" [toggleable]="true" [transitionOptions]="'0ms'">
        <p-checkbox class="checkboxItem" *ngFor="let ability of abilities" name="selectedAbilities"
            [(ngModel)]="selectedAbilities" [value]="ability.name" [label]="ability.name"></p-checkbox>
    </p-fieldset>


    <!-- ------- EVOLUTION ------- -->
    <div [hidden]="hiddenRadioInEditPokemon" class="evolutionRadioContainer">
        <h6>Is evolution to {{pokemonToUpdateEvolution.name}}</h6>
        <div class="d-flex justify-content-center">
            <div class="field-radiobutton">
                <p-radioButton name="evolutionRadioValue" [value]=true [(ngModel)]="evolutionRadioValue" inputId="evolutionRadioValue"></p-radioButton>
                <label for="evolutionRadioValue">Yes</label>
            </div>
            <div class="field-radiobutton">
                <p-radioButton name="evolutionRadioValue" [value]=false [(ngModel)]="evolutionRadioValue" inputId="evolutionRadioValue"></p-radioButton>
                <label for="evolutionRadioValue">No</label>
            </div>
        </div>
    </div>


    <!--  --------  BUTTONS ---------  -->
    <div class="buttonsContainer">
        <button pButton type="button" label="Cancel" class="p-button-raised p-button-rounded"
            (click)="cancelForm()"></button>
        <button pButton type="submit" label="Save" class="p-button-raised p-button-rounded"
            (click)="saveChanges()"></button>
    </div>

</form>