<form class="pokemonForm">

    <!--  --------  NAME INPUT ---------  -->
    <div class="field">
        <label for="nameValue" class="d-block">Name</label>
        <input 
            class="inputLarge" 
            id="nameValue" 
            type="text" 
            aria-describedby="nameValue-help" 
            pInputText
            [(ngModel)]="nameValue" 
            name="nameValue" 
        />
        <small id="username2-help" class="p-error block" [hidden]="nameValue || primerIntento">A name is required</small>
    </div>

    <div class="d-flex justify-content-center my-4">
        
        <!--  --------  TYPE INPUT ---------  -->
        <div class="field">
            <label for="typeValue" class="d-block">Type</label>
            <input 
                class="inputMedium"
                id="typeValue" 
                type="text" 
                aria-describedby="typeValue-help" 
                pInputText
                [(ngModel)]="typeValue" 
                name="typeValue" 
            />
            <small id="username2-help" class="p-error block" [hidden]="typeValue || primerIntento">A type is required</small>

        </div>

        <!--  --------  LEVEL INPUT ---------  -->
        <div class="field">
            <label for="lvlValue" class="d-block">Level</label>
            <input 
                class="inputMedium" 
                id="lvlValue" 
                type="number" 
                min="1" 
                aria-describedby="lvlValue-help" 
                pInputText
                [(ngModel)]="lvlValue" 
                name="lvlValue" 
            />
            <small id="username2-help" class="p-error block" [hidden]="lvlValue > 0">A level is required</small>
        </div>

    </div>


    <!--  --------  IMAGE INPUT ---------  -->
    <!-- <div class="field">
        <label for="imgValue" class="d-block">Image url</label>
        <input class="inputLarge" id="imgValue" type="text" aria-describedby="imgValue-help" pInputText
            [(ngModel)]="imgValue" name="imgValue" />
        <small id="username2-help" class="p-error block" [hidden]="imgValue || primerIntento">Username is not available.</small>
    </div> -->


    <!--  --------  ABILITIES CHECKBOXS ---------  -->
    <p-fieldset legend="Select Abilities" [collapsed]="true" [toggleable]="true" [transitionOptions]="'100ms'">
        <p-checkbox 
            *ngFor="let ability of abilities"
            name="selectedAbilities"
            class="checkboxItem" 
            [(ngModel)]="selectedAbilities" 
            [value]="ability.name" 
            [label]="ability.name">
        </p-checkbox>
    </p-fieldset>


    <!-- ------- EVOLUTION ------- -->
    <div [hidden]="hiddenRadioInEditPokemon" class="evolutionRadioContainer">
        <h6>Is evolution to {{pokemonToUpdateEvolution.name}}</h6>
        <div class="d-flex justify-content-center">
            <div class="field-radiobutton">
                <p-radioButton 
                    name="evolutionRadioValue" 
                    [value]=true 
                    [(ngModel)]="evolutionRadioValue" 
                    inputId="evolutionRadioValue">
                </p-radioButton>
                <label for="evolutionRadioValue">Yes</label>
            </div>
            <div class="field-radiobutton">
                <p-radioButton 
                    name="evolutionRadioValue" 
                    [value]=false 
                    [(ngModel)]="evolutionRadioValue" 
                    inputId="evolutionRadioValue">
                </p-radioButton>
                <label for="evolutionRadioValue">No</label>
            </div>
        </div>
    </div>


    <!--  --------  BUTTONS ---------  -->
    <div class="buttonsContainer">
        <button 
            pButton 
            type="button" 
            label="Cancel" 
            class="p-button-raised p-button-rounded"
            (click)="cancelForm()">
        </button>
        <button 
            pButton 
            type="submit" 
            label="Save" 
            class="p-button-raised p-button-rounded"
            (click)="saveChanges()">
        </button>
    </div>

</form>