
.pokemonForm{
    padding: 30px;
}

.inputLarge{
    width: 100%;
}

.inputMedium{
    width: 85%;
}

.checkboxItem{
    width: 50%;
}

.buttonsContainer{
    display: flex;
    justify-content: center;
}

.buttonsContainer button{
    margin: 10px;
    width: 90px;
}

.pokemonForm label{
    margin: 5px;
}
.evolutionRadioContainer{
    text-align: center;
    margin: 20px;
}

.field-radiobutton{
    margin: 0 10px;
    justify-content: center;
    align-items: center;
}