
.pokemonsListConainer{
    max-height: 75vh;
    overflow-y: auto;
}


.newButtonContainer{
    display: flex;
    justify-content: space-between;
    height: 15vh;
    border-top: .5px solid var(--blueColor);
}


